<div class="dashboard-container">

  <!-- Cerrar Sesión -->
  <div class="logout-container">
    <button
      pButton
      type="button"
      label="Cerrar sesión"
      icon="pi pi-sign-out"
      class="p-button-danger"
      (click)="logout()"
      [iconPos]="'left'">
    </button>
  </div>

  <!-- 🔘 Botones -->
  <div class="modulos-disponibles">
    <p *ngIf="puedeLeerExpediente()">
      <button 
        pButton 
        type="button" 
        label="Ver Expedientes" 
        icon="pi pi-folder"
        (click)="toggleModule('expediente')" 
        class="p-button-expediente" 
        [iconPos]="'left'">
      </button>
    </p>

    <p *ngIf="puedeLeerConsulta()">
      <button 
        pButton 
        type="button" 
        label="Ver Consultas" 
        icon="pi pi-comments"
        (click)="toggleModule('consulta')" 
        class="p-button-consulta" 
        [iconPos]="'left'">
      </button>
    </p>

    <p *ngIf="puedeLeerReceta()">
      <button 
        pButton 
        type="button" 
        label="Ver Recetas" 
        icon="pi pi-file"
        (click)="toggleModule('receta')" 
        class="p-button-receta" 
        [iconPos]="'left'">
      </button>
    </p>
  </div>


  <!-- 🔽 Solo un módulo visible a la vez -->
  <section *ngIf="selectedModule === 'expediente'" class="dashboard-section">
    <app-expediente></app-expediente>
  </section>

  <section *ngIf="selectedModule === 'consulta'" class="dashboard-section">
    <app-consulta></app-consulta>
  </section>

  <section *ngIf="selectedModule === 'receta'" class="dashboard-section">
    <app-recetas></app-recetas>
  </section>

</div>
